<!DOCTYPE html>
<html>
  <head>
    <title>EventTracking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class='actions'> 
      <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" "data-target"= ".nav-collapse" "data-toggle"= "collapse">
          </a>
          <a class="brand">Event Tracking Application By Aditya Shukla</a>
          <div class="nav-collapse" align="right">
                <% if user_signed_in? %>
                  <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
                <% else %>
                  <%= link_to "Log In", new_user_session_path %>
                <% end %>

              <% if !user_signed_in? %>

                  <%= link_to "Sign Up", new_user_registration_path %>

              <% end %>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    </div>
    <hr/>
    <div class="container-fluid center"> 
      <%= yield %>
    </div>
  </body>
</html>
